.container{
    width: 300px;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    padding: 10px;
    display:inline-flex ; left: auto;
}
{
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    display:inline-flex ; right: auto;
    display: flex;justify-content: center;

}
